* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Colors */
  /* Primary Colors*/
  --email-sign-up-bg: hsl(217, 28%, 15%);
  --main-bg-color: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonials-bg: hsl(219, 30%, 18%);

  /* Accent Colors */
  --accent-color: #62e0d9;
  --button-active: #8adae3;
  --button-gradient-bg: linear-gradient(
    138.1deg,
    #63e1d9 -49.34%,
    #34a0cd 100%
  );
  --error-color: hsl(0, 100%, 63%);

  /* Neutural-colors */
  --neutural-color: white;

  /* Typography */
  --font-size-body: 14px;

  --font-family-heading: "Raleway", sans-serif;
  --font-family-body: "Open Sans", sans-serif;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
  color: var(--neutural-color);
}
a {
  transition: 0.25s ease-in;
}
a:hover,
a:focus {
  font-weight: 700;
}
